.card {
  agm-map {
    .agm-map-container-inner {
      margin-left: -($card-spacer-x + $card-border-width);
      margin-right: -($card-spacer-x + $card-border-width);

      @include media-breakpoint-up(sm) {
        margin-left: -($card-spacer-x-sm + $card-border-width);
        margin-right: -($card-spacer-x-sm + $card-border-width);
      }
    }
  }
}
