$form-state-color: #bdc3ca;
$form-state-indicator-size: 1.5rem;

.form-state {
  ul.states {
    padding-left: 0;
    list-style: none;
  }

  .states {
    display: flex;
    align-content: flex-start;
  }

  .state {
    display: inline-block;
    width: 25%;
    padding-top: 21px;
    position: relative;
    color: $form-state-color;
    font-size: 0.75rem;
    border-top: 2px solid $form-state-color;
    margin-top: $form-state-indicator-size/2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      border-top: 0;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      border-radius: 50%;
    }

    &:before {
      display: block;
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      font-weight: 900;
      color: $primary;
      width: $form-state-indicator-size;
      height: $form-state-indicator-size;
      border: 2px solid $form-state-color;
      top: -($form-state-indicator-size/2);
      background-color: $white;
    }

    &:after {
      display: none;
    }

    &.active {
      &,
      &:before {
        color: $primary;
        border-color: $primary;
      }

      &:before {
        content: unquote("\"#{ \f00c }\"");
        padding: 2px 4px;
      }
    }

    &.current {
      border-color: $form-state-color;

      &:before {
        content: '';
      }

      &:after {
        display: block;
        position: absolute;
        background-color: $primary;
        width: 16px;
        height: 16px;
        top: -8px;
        left: 4px;
      }
    }
  }
}
