.housing-trip {
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
  }

  .form-group {
    margin-bottom: 0;
  }

  .card-body {
    padding: 0;
  }

  .housing-trip-info {
    > div {
      padding: $card-spacer-y $card-spacer-x;
      border-top: $border-width solid $border-color;
      margin-top: -$border-width;
      border-left: $border-width solid $border-color;
      margin-left: -$border-width;
    }
  }

  @include media-breakpoint-down(sm) {
    .trip-date {
      font-size: 1.375rem;

      small {
        font-size: 0.75rem;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .card-header {
      justify-content: normal;
    }
  }

  @include media-breakpoint-up(lg) {
    .card-body {
      padding: $card-spacer-y 0;
    }

    .housing-trip-info {
      > div {
        padding: 0 $card-spacer-x;
        border-top: 0;
        margin-top: 0;
      }
    }
  }
}
