.image-block-group {
  display: flex;
  flex-flow: wrap;

  .image-block {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    text-align: center;
  }
}

.image-block {
  width: 122px;
  min-height: 122px;
  color: $gray-800;
  font-size: $font-size-base;
  line-height: normal;
  filter: gray; /*ie <10*/
  filter: grayscale(1);

  > span {
    width: 100%;
    text-align: center;
    white-space: normal;
  }
}
