.notification {
  color: #88939E;
  font-size: 22px;
  margin-right: 30px;
}

.has-notifications {
  position: relative;

  i:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #1e3dae;
    position: absolute;
    right: 13px;
    top: 10px;
  }
}

//* using sibling *//

.notification + .popover {

  .popover-body{
    padding: 0;

    .list-group-item  {
      font-size: 12px;
      border: 0px;
      border-top: 1px solid #ECEFF2;
      z-index: 0;

      &:before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 6px;
        background-color: #88939E;
        position: relative;
        margin-right: 20px;
      }

      &.not-read {
        background-color: #EDF2FA;

        &:before{
          background-color: #1e3dae;
        }
      }

      .icon {
        margin-left: 20px;
        font-size: 10px;
        opacity: 0.7;
      }

      &:hover {
        z-index: 0;
      }

      &:first-child {
        @include border-top-radius(5px);
      }

      &:last-child {
        @include border-bottom-radius(5px);
      }
    }
  }
}

.notification.has-notifications + .popover.bs-popover-bottom .arrow::after,
.notification.has-notifications + .popover.bs-popover-auto[x-placement^="bottom"] .arrow::after{
  border-bottom-color: #EDF2FA;
}

