/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100; /* Behind the navbar */
  width: 100%;

  .nav-link {
    text-align: center;
    font-size: 11px;

    .icon {
      font-size: 30px;
      margin-bottom: 6px;
    }

    .link-text {
      width: 45px;
      margin: 0 auto;
    }
  }

  @include media-breakpoint-up($sidebar-breakpoint) {
    top: $navbar-height;
    width: $sidebar-width-side;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    .nav-item {
      margin: 1.25rem 0;
    }

    .nav-link {
      padding: 6px 0;
      border-left: 4px solid transparent;
    }

    &.navbar-dark {
      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        border-color: $navbar-dark-active-color;
      }
    }
  }
}

.sidebar-sticky {
  position: relative;
  bottom: 0;
  overflow: hidden;
  height: $sidebar-height-bottom;

  .navbar-nav {
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;

    .nav-item {
      flex-grow: 1;
    }

    .nav-link {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  @include media-breakpoint-up($sidebar-breakpoint) {
    top: 0;
    height: calc(100vh - #{$navbar-height});
    padding-top: .5rem;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

    .navbar-nav {
      flex-direction: column;

      .nav-item {
        flex-grow: initial;
      }
    }
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
