.summary {
  .card-title {
    font-weight: 500;
  }

  .list-group-item {
    opacity: 0.9;
    font-weight: 500;
  }

  .total-item {
    opacity: 1;
    color: $dark;
    font-size: 1.75rem;
    font-weight: normal;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .media {
    opacity: 0.9;
  }
}
