@import "~themes/themes";

.user {
  display: flex;
}

.user-name {
  font-size: 12px;
}

.user.online .user-name::after {
  content: '';
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: $success;
  margin-left: 5px;
  border-radius: 5px;
}

.user-role {
  font-size: 12px;
  font-style: italic;
  color: $gray-600;
}

.user-image-wrapper {
  position: relative;

  .icon {
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    left: -10px;
    background-color: $success;
    padding-left: 1px;
  }
}

.user-image-group {
  .user-img:nth-child(n+2) {
    margin-left: -11px;
  }
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  border: 2px solid $body-bg;
}

.user-img-small {
  width: 30px;
  height: 30px;
  border-radius: 17px;
}

.user-img-big {
  width: 100px;
  height: 100px;
  border-radius: 52px;
  border-width: 4px;
}

.big .user-name,
.big .user-role {
  font-size: 16px;
}

.big .user-name {
  font-weight: 500;
}

.fa-whatsapp {
  background-image: linear-gradient(195deg, #59cf65, #28b43e);
}
