@import "~themes/themes";

$sign-in-navbar-height: 56px;
$sign-in-navbar-padding-x: $spacer * 2;
$inner-content-width: 49.375rem;

.sign-in {
  background-color: $white;
}

.carousel-item,
.carousel-inner {
  height: 100vh;
}

.carousel-indicators {
  margin-bottom: 0;
  bottom:3.125rem;
  li {
    background-color: rgba($white, .4);
  }

  .active {
    background-color: $white;
  }
}

.carousel-caption {
    left: 0;
    text-align: left;
    margin-bottom: 0;
    height: 50%;
    padding: 0 2.125rem;
    width: 100%;
    bottom: 0;
    transition: height 0.3s ease-in-out;

    &.blue{
      background-color: #405464;
       & .testimonial-text:after{
        background-color: #405464;
      }
    }
    &.gold{
      background-color: #bdb29a;
      & .testimonial-text:after{
        background-color: #bdb29a;
      }
    }
    &.light-blue {
      background-color: #8595bb;
      & .testimonial-text:after{
        background-color: #8595bb;
      }
    }

  &:hover{
    height: 70%;
  }

  p {
    font-size: $font-size-base;
  }

  .testimonial-text {
    position: relative;
    height: 120px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
     &:after{
          -webkit-filter: blur(9px);
          filter: blur(9px);
          content: "";
          position: absolute;
          bottom: 0;
          width: 110%;
          height: 18px;
          z-index: 10;
          left: -10px;
     }
  }

  

  &:hover{
    & .testimonial-text {
      height: 100%;
    }
    & .testimonial-view-more i{
      transform: rotate(-180deg);
    }
  }

  .testimonial-name {
    font-size: 0.75rem;
  }

  &.blue{
    background-color: #405464;
  }
  &.gold{
    background-color: #bdb29a;
  }
  &.light-blue {
    background-color: #8595bb;
  }
  & .user-img{
    width: 6.25rem;
    height: 6.25rem;
    margin-top: -3.125rem;
    border-radius: 50%;
  }

}

.sign-in-container-pr {
  padding-right: $spacer * 2;
}

/* reorganizar, para testar*/
.scrollable-right-column {
  overflow: hidden;
  height: 100vh;

  .main-content {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    padding-bottom: $navbar-height;
  }
}

.inner-content {
  max-width: $inner-content-width;
  margin: 0 auto;
  min-height: 100%;

  @include media-breakpoint-up(sm) {
    padding: 0 2rem;
    max-width: $inner-content-width + 4rem;
  }
}

.navbar-brand {
  justify-content: flex-start;
  padding-left: $navbar-padding-x;
}

.carousel-fade {
  height: 100vh;
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
 }
 
 .carousel-fade  .carousel-item.active,
 .carousel-fade  .carousel-item-next.carousel-item-left,
 .carousel-fade  .carousel-item-prev.carousel-item-right {
   opacity: 1;
 }
 
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-right {
  opacity: 0;
 }
 
 .carousel-fade  .carousel-item-next,
 .carousel-fade .carousel-item-prev,
 .carousel-fade .carousel-item.active,
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
 }