<section class="sign-in">

  <div class="container">
    <nav class="navbar fixed-top navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="#">
        <img src="assets/icon/logo.svg" class="d-none d-sm-block"/>
        <img src="assets/icon/logo_small.svg" class="d-block d-sm-none"/>
      </a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <small class="navbar-text mr-4">
          Already have an account?
        </small>
      </div>
      <div class="d-flex justify-content-end flex-grow-1 flex-sm-grow-0">
        <form class="form-inline">
          <button class="btn btn-sm btn-secondary" type="button">Signup</button>
        </form>
      </div>
    </nav>
  </div>

  <div class="row no-gutters scrollable-right-column">
    <div class="d-none d-md-block col-md-3">
      <div id="signInCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators justify-content-end">
          <li data-target="#signInCarousel"
              *ngFor="let a of carouselItems; index as index1; first as isFirst1"
              [ngClass]="{ 'active': isFirst1 }"
              [attr.data-slide-to]="index1">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item"
               [ngClass]="{ 'active': isFirst2 }"
               *ngFor="let carouselItem of carouselItems; first as isFirst2">
            <div class="carousel-image-wrapper h-50">
              <img class="d-block h-100" [src]="carouselItem.url" alt="{{ carouselItem.caption?.title }}">
            </div>
            <div class="carousel-caption d-none d-md-block gold">
              <div class="user-image-wrapper text-center">
                    <img alt="Tesmonial Member" class="img user-img" src="https://randomuser.me/api/portraits/women/53.jpg">
              </div>
              <div class="text-center my-4 testimonial-name">{{ carouselItem.caption?.person.name }}, {{ carouselItem.caption?.person.nationality }}.</div>
              <div class="testimonial-text">
                  <p>{{ carouselItem.caption?.text }}</p>
              </div>
              <div class="testimonial-view-more text-center mt-4">
                  <i class="fa fa-chevron-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3 col-12 col-md-9 position-relative main-content">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
