@import "~themes/themes";

form .form-control.btn {
  width: auto;
}

.card-footer {
  border-top: 1px solid #ebeef1;
}

.btn.btn-remove {
  margin-right: - $spacer;
}

.login-options-col {
  border-left: 1px solid #ebeef1;
  @include media-breakpoint-down(md) {
    border-left: 0;
  }
}

i[class^='sl-icon-arrow'] {
  font-size: 10px;
}