<section class="register d-flex flex-column">

  <div class="row">
    <div class="col-12 col-sm-10 col-md-7">
      <header class="mt-4">
        <h2 class="text-primary mb-3">My Inlife Advisor / <span class="font-weight-bold">Register</span></h2>
        <hr>
      </header>
    </div>
  </div>

  <router-outlet></router-outlet>

</section>
