@import "~themes/themes";

.user-image-wrapper {
  position: relative;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  border: 2px solid $body-bg;

  &:nth-child(n+2) {
    margin-left: -11px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  left: -10px;
  background-color: $success;
  padding-left: 1px;
}

.fa-whatsapp {
  background-image: linear-gradient(195deg, #59cf65, #28b43e);
}
