.btn-group {
  > .btn {
    @include border-radius(0.25rem);
    border: 0.0625rem solid $gray-400;

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: $white;
      background-color: $primary;
      border-color: $primary;
    }
  }
}

.btn-group-image {
  > .btn {
    @include border-radius(0.25rem);
    border: 0.0625rem solid $gray-400;

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      background-color: $gray-200 !important;
      border: 0.0625rem solid $gray-200 !important;
      filter: none;
    }

    &:focus,
    &.focus {
      outline: none;
      box-shadow: none;
    }
  }
}



