@mixin btn-focus($btn-box-shadow: $btn-focus-box-shadow) {
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-box-shadow;
  }
}

//
// Base styles
//

.btn {
  font-size: $btn-font-size;
  @include btn-focus();
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include btn-focus();
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include btn-focus();
  }
}

.btn-primary {
    border: $input-btn-focus-width solid transparent;
    @include hover {
      border: $input-btn-focus-width solid $btn-primary-hover;
    }

    // Share hover and focus styles
    @include hover-focus {
      @include gradient-bg($btn-primary-hover);
    }

    &:focus,
    &.focus {
      border: $input-btn-focus-width solid $white;
    }
}

.btn-secondary {
    border: $btn-border-width solid $secondary;
    color: $primary;
    @include gradient-bg(transparent);

    // Share hover and focus styles
    @include hover-focus {
      @include gradient-bg(rgba(40, 69, 201, 0.1));
    }
}

.btn-success {
  &:focus,
  &.focus {
    border: $input-btn-focus-width solid $white;
  }
}
