// Optional indicator pips
.carousel-indicators {
  li {
    border-radius: 50%;
    background-color: $gray-200;
  }
}

.carousel {
  .carousel-indicators {
    li {
      opacity: 0.5;
    }
  }

  @include hover-focus {
    .carousel-indicators {
      li {
        opacity: 1;
      }
    }
  }
}

.carousel-item > .carousel-image-wrapper {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    mix-blend-mode: multiply;
    background-blend-mode: soft-light;
    background-image: linear-gradient(to bottom, #8494a5, rgba(255, 255, 255, 0) 52%, #8494a5);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

//
// Left/right controls for nav
//

.carousel-control-prev,
.carousel-control-next {
  // Hover/focus state
  @include hover-focus {
    opacity: 1;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #afb6be;
    }
  }
}

// Icons for within
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
  background-color: $carousel-control-icon-background-color;
  border-radius: 50%;
  line-height: $carousel-control-icon-width;

  &:before {
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
    font-weight: 900;
    content: ' ';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    vertical-align: -.125em;
  }
}

.carousel-control-prev-icon {
  &:before {
    content: unquote("\"#{ $fa-var-chevron-left }\"");
  }
}

.carousel-control-next-icon {
  &:before {
    content: unquote("\"#{ $fa-var-chevron-right }\"");;
  }
}

.carousel {
  @include hover-focus {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      display: inline-block;
    }
  }
}
