.card {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.04);
  //overflow: hidden;

  .carousel {
    overflow: hidden;
  }
}

.card-spacer {
  margin-bottom: $card-margin-bottom;
}

.card-header-big {
  padding: $card-spacer-x;
}

.card-title {
  font-size: 0.875rem;
  text-transform:uppercase;
  font-weight:400;
}

.card-header .card-title {
  margin-bottom: 0;
}

// List

.card .list-group-item {
  padding: $card-spacer-x;
}

// SM

@include media-breakpoint-up(sm) {
  .card-header,
  .card-header-big,
  .card-body,
  .card-footer,
  .card .list-group-item {
    padding-left: $card-spacer-x-sm;
    padding-right: $card-spacer-x-sm;
  }

  .card-header .card-title {
    margin-right: 1.875rem;
  }
}

.card-row {
  > [class*='col'] {
    margin-bottom: $card-margin-bottom;
  }

  .card {
    height: 100%;
  }
}

.card-footer {
  border-top: 0;
  background-color: transparent;
  justify-self: end;
}

.card-body {
  .card-subtitle {
    line-height: 2;
    margin-bottom: 10px;
  }

  p {
    font-size: 0.875rem;
    color: $text-muted;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.card-img{
  height: 100%;
}

.card-img-overlay {
  display: flex;
  flex-flow: column;
  background-blend-mode: multiply;
  background-image: linear-gradient(302deg, #ffffff80, #00000080);
}

.calendar-card {
  .card-body {
    padding: 1.25rem 1.875rem;
  }
}

//////

.testimonial-card .carousel {
  padding: 45px 60px;
  background: url(/assets/img/quote.svg) 25px 25px no-repeat;
}

.testimonial-card h4 {
  font-size: 18px;
  font-weight: $font-weight-bold;
  font-style: italic;
  color: #434a5f;
  margin-bottom: 1rem;
}

.testimonial-card p {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.testimonial-card .carousel-inner {
  margin-bottom: 50px;
}

/*card info*/
.card.bg-info .card-header,
.card.bg-light .card-header {
  background-color: transparent;
  padding: 30px;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card.bg-info .card-header h5 {
  color: #fff;
}

.card.bg-info {
  background-color: #57B4F2 !important;
  border: 1px solid transparent;
}

.card.bg-dark {
  border: 1px solid transparent;
}

.card.bg-light {
  background-color: #fff !important;
}

.card.bg-info p {
  font-weight: $font-weight-base;
  color: #ffffff;
  margin-bottom: 2rem;
  line-height: 1.57;
}

.card.bg-light p {
  font-weight: $font-weight-base;
  color: #88939e;
  margin-bottom: 2rem;
  line-height: 1.57;
}

.card p {
  font-weight: $font-weight-base;
  line-height: 1.57;
}

.card.bg-info .card-header,
.card.bg-light .card-header {
  padding-bottom: 20px;
}

.play-button {
  width: 60px;
  height: 60px;
  background-color: rgba(19, 17, 16, 0.5019607843137255);
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  padding-left: 4px;
}

.card.transparent .card-header {
  background: transparent;
  border-bottom: none;
}

.card.text-white .card-header h5,
.card.text-white p {
  color: #fff;
}


/* virtual appointments */
.virtual-appointment .day-month {
  color: #fff;
  background-color: #56b4f3;
  width: 50px;
  min-width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

.day-month span:last-child {
  line-height: 12px;
}

.day-month span:first-child {
  font-size: 20px;
  display: block;
  line-height: 20px;
  font-weight: bold;
}

.virtual-appointment .time {
  color: #88939e;
  font-size: 16px;
  min-width: 60px;
}

.virtual-appointment h4 {
  font-size: 18px;
  color: #434a5f;
  font-weight: bold;
  margin-bottom: 0;
}
