// Custom control indicators
//
// Build the custom controls out of pseudo-elements.

.custom-control-label::before {
  border: 2px solid #75808c;
}

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      border-color: $custom-control-indicator-checked-color;
    }
  }

  .custom-control-input:indeterminate ~ .custom-control-label {
    &::before {
      border-color: $custom-control-indicator-checked-color;
    }
  }
}

// Radios
//
// Tweak just a few things for radios.

.custom-radio {
  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      border-color: $custom-control-indicator-checked-color;
    }
  }
}


// Range
//
// Style range inputs the same across browsers. Vendor-specific rules for pseudo
// elements cannot be mixed. As such, there are no shared styles for focus or
// active states on prefixed selectors.

.custom-range {
  cursor: $custom-range-track-cursor;

  &::-webkit-slider-thumb {
    margin-top: -($custom-range-thumb-height/2);
  }
}

.range-input {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .range-value:first-child {
    margin-right: 20px;
  }

  .range-value:last-child {
    margin-left: 20px;
  }
}
