ngb-datepicker.ngb-datepicker {
  border: 0;

  &:focus {
    outline: 0;
  }

  .ngb-dp-week {
    justify-content: space-between;
  }

  .ngb-dp-header {
    background-color: transparent;
    margin-bottom: 30px;
  }

  .ngb-dp-weekdays {
    background-color: transparent;
    border: 0;
  }

  .ngb-dp-weekday {
    color: #434a5f;
    font-style: normal;
    font-size: 0.75rem;
  }

  .ngb-dp-navigation-select {
    display: flex !important;
    justify-content: center;

    > .custom-select {
      font-size: 0.875rem;

      &:first-child {
        width: 44px;
        font-weight: $font-weight-bold;
      }

      &:last-child {
        width: 49px;
        background-color: #ebeef1;
      }
    }
  }

  .custom-select {
    border: 0;
    color: #434a5f;
    background: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      box-shadow: none;
    }
  }

  .ngb-dp-day {
    font-size: 0.75rem;

    @include hover-focus-active {
      outline: none;
    }
  }

  [ngbdatepickerdayview] {
    border-radius: 50%;
    color: #434a5f !important;

    &,
    .outside {
      opacity: 0.3;
    }

    &[ng-reflect-selected="true"] {
      opacity: 1;
      color: $white !important;
      background-color: #57b4f2 !important;
    }
  }
}

.ngb-dp-month,
.ngb-dp-week {
  width: 100%;
}
