//
// Labels
//

.control-label {
  color: $gray-700;
  font-size: 0.75rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  width: 100%;
}

.control-label-sm {
  font-size: 0.75rem;
}

.input-formatted {
  font-size: 1.75rem;
  line-height: 1.2;

  small {
    font-size: 1rem;
    line-height: 2;
  }
}
