$gallery-thumb-width-xs: 124px;
$gallery-thumb-height-xs: 70px;

$gallery-thumb-width-lg: 102px;
$gallery-thumb-height-lg: 60px;

$gallery-thumb-padding-xs-x: 10px;
$gallery-thumb-padding-xs-y: 10px;

$gallery-thumb-padding-lg-x: 20px;
$gallery-thumb-padding-lg-y: 10px;

gallery {
  background-color: $white;
}

.g-nav-prev,
.g-nav-next {
  display: none;
}

.g-thumb {
  padding: $gallery-thumb-padding-xs-y $gallery-thumb-padding-xs-x;

  @include media-breakpoint-up(lg) {
    padding: $gallery-thumb-padding-lg-y $gallery-thumb-padding-lg-x;
  }
}

gallery-core[thumbPosition='bottom'] .g-thumbs {
  left: $gallery-thumb-width-xs/2 + 2*$gallery-thumb-padding-xs-x;
}

gallery-core[thumbPosition='right'] .g-thumbs {
  top: $gallery-thumb-height-lg/2 + 2*$gallery-thumb-padding-lg-y;
}
