// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


  
  // Modal background
  .modal-backdrop {
    background-color: rgb(52, 57, 76);
  
    // Fade for backdrop
    &.fade { opacity: 0; }
    &.show { opacity: 0.8; }
  }
  
  