// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  height: $navbar-height;
  padding-left: $sidebar-width-side + $navbar-padding-x;
}

// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  position: absolute;
  top: 0;
  left: 0;
  width: $sidebar-width-side;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.navbar-brand-primary {
    background-color: $primary;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.main-content {
  margin-top: $navbar-height;
}

.navbar {
  .user {
    @include plain-hover-focus {
      text-decoration: none;
    }
  }
}
