$nouislider-inner-margin-v: ($custom-range-thumb-width/2) - ($custom-range-track-height/2);

.ng2-nouislider.custom-range {
  width: 100%;
  margin-top: $nouislider-inner-margin-v;
  margin-bottom: $nouislider-inner-margin-v;
}

.noUi-handle {
  border-radius: 50%;
  border: 0;
  background-color: $primary;
  box-shadow: none;

  &:before,
  &:after {
    display: none;
  }
}

.noUi-horizontal {
  height: $custom-range-track-height;

  .noUi-handle {
    width: $custom-range-thumb-width;
    height: $custom-range-thumb-width;
    top: -$nouislider-inner-margin-v;
  }
}

.noUi-connect {
  background: $primary;
}

.noUi-target {
  background-color: $custom-range-track-bg;
  border: 0;
}
