<div class="row">
  <div class="col-12 col-sm-10 col-md-7">

    <div class="form-state my-5 d-none d-sm-block">
      <ul class="states">
        <li class="state active">
          Personal Details
        </li>
        <li class="state active">
          Trip Details
        </li>
        <li class="state active">
          House Details
        </li>
        <li class="state active current">
          Checkout
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="form-col col-lg-11">
        <h3 class="text-dark mb-4">Checkout</h3>
        <form>
          <div class="form-group d-none">
            <label class="control-label" for="preferedTime">Prefered Virtual Tour Hours</label>
            <input id="preferedTime" type="time" class="form-control" value="19:30"/>
          </div>

          <div class="form-group">
            <label class="control-label">Payment Method</label>
            <div class="custom-control custom-radio form-check mb-2">
              <input class="custom-control-input form-check-input" type="radio" name="paymentMethod" id="creditCard" value="card">
              <label class="custom-control-label form-check-label" for="creditCard">
                Credit Card <i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i> <i class="fab fa-cc-amex"></i>
              </label>
            </div>
            <div class="custom-control custom-radio form-check">
              <input class="custom-control-input form-check-input" type="radio" name="paymentMethod" id="paypal" value="paylap">
              <label class="custom-control-label form-check-label" for="paypal">
                Paypal <i class="fab fa-paypal"></i>
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="cardNumber">Card Number</label>
            <input id="cardNumber" type="number" class="form-control" placeholder="0000 0000 0000 0000 0000"/>
          </div>

          <div class="form-group form-row">
            <div class="col form-column">
              <label class="control-label" for="expirationDate">Expiration Date</label>
              <input id="expirationDate" type="text" class="form-control" placeholder="mm/yy">
            </div>
            <div class="col form-column">
              <label class="control-label" for="ccv">CCV</label>
              <input id="ccv" type="text" class="form-control" placeholder="3 Digits">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="cardHolder">Card Holder</label>
            <input id="cardHolder" type="text" class="form-control" placeholder="John Doe">
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">I have read and accept InLife terms.</label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr class="mt-4">

    <div class="row mb-5">
      <div class="col-lg-11 d-flex justify-content-between">
        <button type="button" class="btn btn-secondary px-2"
                [routerLink]="['../house-details']">
          <i class="sl-icon-arrow-left"></i> Go Back
        </button>
        <button type="button" class="btn btn-primary px-2" data-toggle="modal" data-target="#exampleModalCenter">
          Payment <i class="sl-icon-arrow-right"></i>
        </button>
      </div>
    </div>

  </div>
  <div class="col-12 col-sm-10 col-md-5">
    <div class="card summary">
      <div class="card-header">
        <h5 class="card-title mb-3">Summary</h5>
        <p>Vestibulum rutrum quam vitrae fringilla tincidunt.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span>My InLifeAdvisor</span><strong class="float-right">50€</strong>
        </li>
        <li class="total-item list-group-item list-group-item-secondary text-right border-top-0 border-bottom-0">
          <span class="mr-3">Total </span><strong class="text-primary">50€</strong>
        </li>
      </ul>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label class="control-label" for="promoCode">Promo Code</label>
            <input id="promoCode" type="text" class="form-control" placeholder="1234566-234">
          </div>
        </form>
        <div class="media">
          <i class="sl-icon-info text-primary mr-3 mt-1"></i>
          <div class="media-body">
            After checkout you will receive all the details and confirmation of purchase in the email specified - <strong>john.doe@email.com</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-5 ">
        <div class="modal-body d-flex flex-column text-center">
            <div class="row">
                <div class="col-12">
                  <header class="mt-4">
                      <img class="mb-1" src="assets/img/housing-trip-car.png" alt="housing trip" />
                    <h2 class="text-primary mb-3">Please <span class="font-weight-bold">register or login </span>
                        before you checkout</h2>
                    <p>Access your InLife’s reserved area:<br>
                        - Manage your trip details<br>
                        - Access our advisor support<br></p>
                        <div class=" d-flex flex-column justify-content-between mx-5 mt-5">
                            <button type="button" class="btn btn-primary px-2 mb-3" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalCenter2">
                                Register
                            </button>
                            <button type="button" class="btn btn-secondary px-2 " data-dismiss="modal">
                              Login
                            </button>

                          </div>

                  </header>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content p-0">
          <section class="h-100 d-flex flex-column justify-content-center">
            <div class="modal-header justify-content-between border-bottom-0 p-4 pb-0">
                <h1 class="text-primary m-0">Register</h1>
                <button type="button" class="btn btn-secondary">Login</button>
            </div>
            <div class="modal-body px-4 pb-4 pt-0">
              <header class="mb-2">
                <p class="sub-heading text-muted">The subscription process will continue after you register and confirm your email.</p>
              </header>

              <div class="row">
                <div class="form-col col-md-12 col-lg-7">
                  <form>
                    <div class="form-group">
                      <label class="control-label" for="userName">Name</label>
                      <input type="text" class="form-control" id="userName" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="userEmail">Email</label>
                      <input type="email" class="form-control" id="userEmail" placeholder="john@doe.com">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="userPassword">Password</label>
                      <input type="password" class="form-control" id="userPassword" placeholder="6+ characters">
                    </div>
                    <div class="d-flex justify-content-center">

                      <button type="button" class="btn btn-primary px-5">Register</button>
                    </div>
                  </form>
                </div>
                <div class="login-options-col col-md-12 col-lg-5">
                  <div class="d-flex flex-column justify-content-around">
                    <button type="button" class="btn btn-light my-4">
                      <i class="fab fa-google"></i>
                      Continue with Google
                    </button>
                    <button type="button" class="btn btn-primary mb-4">
                      <i class="fab fa-facebook"></i>
                      Continue with Facebook
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer p-4 justify-content-between border-top-0">
                <footer class="mt-4 text-muted">
                    By continuing, you agree with InLife <a href="#">Terms of Service</a> and <a>Privacy Policy</a>.
                  </footer>
            </div>
            </section>

        </div>
      </div>
</div>

