<div class="row">
  <div class="col-12 col-sm-10 col-md-7">

    <div class="form-state my-5 d-none d-sm-block">
      <ul class="states">
        <li class="state active">
          Personal Details
        </li>
        <li class="state active">
          Trip Details
        </li>
        <li class="state active current">
          House Details
        </li>
        <li class="state">
          Checkout
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="form-col col-lg-11">
        <h3 class="text-dark mb-4">House Details</h3>
        <form name="houseDetails">

          <div class="form-group">
            <label class="control-label" for="userBudget">Monthly house rent
              <small>(per person, bills excluded)</small>
            </label>
            <div class="range-input">
              <span class="range-value">0</span>
              <nouislider id="userBudget" class="custom-range" [connect]="[true, false]" [min]="0" [max]="400"
                          [(ngModel)]="formData.budget" name="budget">
              </nouislider>
              <span class="range-value">400€</span>
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col-6 form-column mr-3">
              <label class="control-label" for="monthsStay">Period of stay
              </label>
              <input type="number" class="form-control w-50 d-inline" id="monthsStay" name="Period of stay"
                     placeholder="1" step="1"/><span class="ml-2 w-50 d-inline">Months</span>
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col-4 form-column mr-3">
              <label class="control-label" for="numBedrooms">Bedrooms</label>
              <input type="number" class="form-control" id="numBedrooms" name="Number of Bedrooms" placeholder="0"
                     step="1"/>
            </div>
            <div class="col-4 form-column">
              <label class="control-label" for="numPeople">Num. of people</label>
              <input type="number" class="form-control" id="numPeople" name="Number of People" placeholder="1"
                     step="1"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label d-block" for="typeAccommodation">TYPE OF ACCOMODATION</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="typeAccommodation">
              <label class="btn btn-secondary active px-4 py-2">
                <input type="radio" name="typeAccommodation" id="option1" autocomplete="off" checked> Bedroom
              </label>
              <label class="btn btn-secondary px-4 py-2">
                <input type="radio" name="typeAccommodation" id="option2" autocomplete="off"> Entire Property
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="location">Prefered location</label>
            <input type="text" class="form-control" id="location" placeholder="Search...">
          </div>

          <div class="form-group">
            <label class="control-label">Aditional Preferences</label>
            <div class="btn-group-image btn-group-toggle image-block-group " data-toggle="buttons">
              <label class="btn btn-secondary image-block"
                *ngFor="let feature of houseFeatures">
                <img [src]="feature.image" [alt]="feature.name" />
                <input type="checkbox" name="features" checked autocomplete="off">
                <span>{{ feature.name }}</span>
              </label>
            </div>
          </div>

        </form>
      </div>
    </div>

    <hr class="mt-4">

    <div class="row mb-5">
      <div class="col-lg-11 d-flex justify-content-between">
        <button type="button" class="btn btn-secondary px-2"
                [routerLink]="['../trip-details']">
          <i class="sl-icon-arrow-left"></i> Go Back
        </button>
        <button type="button" class="btn btn-primary px-2"
                [routerLink]="['../checkout']">
          House Details <i class="sl-icon-arrow-right"></i>
        </button>
      </div>
    </div>

  </div>
</div>
