<div class="row">
  <div class="col-12 col-sm-10 col-md-7">

    <div class="form-state mb-5 d-none d-sm-block">
      <ul class="states">
        <li class="state active current">
          Personal Details
        </li>
        <li class="state">
          Trip Details
        </li>
        <li class="state">
          House Details
        </li>
        <li class="state">
          Checkout
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="form-col col-lg-11">
        <h3 class="text-dark mb-4">Personal Details</h3>
        <form name="personalDetailsForm">
          <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Christopher McCandle">
          </div>
          <div class="form-group">
            <label class="control-label" for="userEmail">Email</label>
            <input type="email" class="form-control" id="userEmail" placeholder="john@doe.com">
          </div>
          <div class="form-group">
            <label class="control-label" for="userPhone">Phone Number</label>
            <input type="tel" class="form-control" id="userPhone"
                   placeholder="+000 123 456 789">
          </div>
          <div class="form-group">
            <label class="control-label d-block" for="gender">Gender</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="gender">
              <label class="btn btn-secondary active px-4 py-2">
                <input type="radio" name="gender" id="genderMale" autocomplete="off"
                       ([ngModel])="formData.gender" value="male"/> Male
              </label>
              <label class="btn btn-secondary px-4 py-2">
                <input type="radio" name="gender" id="genderFemale" autocomplete="off"
                       ([ngModel])="formData.gender" value="female"/> Female
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="userNationality">Nationality</label>
            <select class="custom-select" id="userNationality" name="nationality"
                    [(ngModel)]="formData.nationality">
              <option [ngValue]="null" hidden>Where are you from</option>
              <option *ngFor="let nationality of countries" [ngValue]="nationality.value">
                {{ nationality.label }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="userRegion">Region</label>
            <select class="custom-select" id="userRegion" name="region"
                    ([ngModel])="formData.region">
              <option [ngValue]="null" hidden>Select your region...</option>
              <option *ngFor="let region of regions" [ngValue]="region.value">
                {{ region.label }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="userUniversity">University</label>
            <select class="custom-select" id="userUniversity" name="university"
                    ([ngModel])="formData.university">
              <option [ngValue]="null" hidden>Select your future University</option>
              <option *ngFor="let university of universities" [ngValue]="university.value">
                {{ university.label }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>

    <hr class="mt-4">

    <div class="row mb-5">
      <div class="col-lg-11 d-flex justify-content-end">
        <button type="button" class="btn btn-primary px-2"
                [routerLink]="['../trip-details']">
          Trip Details <i class="sl-icon-arrow-right"></i>
        </button>
      </div>
    </div>

  </div>
</div>
