<div class="row">
  <div class="col-12 col-sm-10 col-md-7">
    <div class="form-state my-5 d-none d-sm-block">
      <ul class="states">
        <li class="state active">
          Personal Details
        </li>
        <li class="state active current">
          Trip Details
        </li>
        <li class="state">
          House Details
        </li>
        <li class="state">
          Checkout
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="form-col col-lg-11">

        <h3 class="text-dark mb-4">Trip Details</h3>
        <form>
          <div class="form-group">
            <label class="control-label" for="tripDay">Housing Trip Day</label>
            <input type="date" class="form-control" id="tripDay" placeholder="Choose date">
          </div>
          <div class="form-group">
            <label class="control-label" for="addCrew">Add Flatmates or Helpers to your Trip</label>
            <input type="button" class="form-control btn btn-secondary" id="addCrew"
                   value="+  Add">
          </div>

          <div class="row cards">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">

                  <div class="btn-group-image btn-group-toggle mt-4 image-block-group" data-toggle="buttons">
                    <label class="btn btn-secondary image-block">
                      <img src="assets/icon/helper.png" alt="Helper"/>
                      <input type="checkbox" checked autocomplete="off">
                      <span>Helper</span>
                    </label>
                    <label class="btn btn-secondary image-block">
                      <img src="assets/icon/flatmate.png" alt="Flatmate"/>
                      <input type="checkbox" checked autocomplete="off"> Flatmate
                    </label>
                  </div>

                  <div class="form-group">
                    <label class="control-label" for="userName">Name</label>
                    <input type="text" class="form-control" id="userName" placeholder="John Doe">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="userEmail">Email</label>
                    <input type="email" class="form-control" id="userEmail"
                           placeholder="john@doe.com">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="userPhone">Phone Number</label>
                    <input type="tel" class="form-control" id="userPhone"
                           placeholder="+000 123 456 789">
                  </div>

                  <div class="form-group">
                    <label class="control-label d-block" for="gender">Gender</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="gender">
                      <label class="btn btn-secondary active px-4 py-2">
                        <input type="radio" name="gender" id="option1" autocomplete="off" checked> Male
                      </label>
                      <label class="btn btn-secondary px-4 py-2">
                        <input type="radio" name="gender" id="option2" autocomplete="off"> Female
                      </label>
                    </div>
                  </div>

                </div>
                <div class="card-footer py-3 d-flex justify-content-between">
                  <a href="#" class="btn btn-secondary">+ Add another</a>
                  <button type="button" class="btn btn-link text-danger btn-remove"><i
                    class="sl-icon-trash"></i>
                  </button>
                </div>
              </div>

            </div>

          </div>

        </form>
      </div>
    </div>
    <hr class="mt-4">
    <div class="row mb-5">
      <div class="col-lg-11 d-flex justify-content-between">
        <button type="button" class="btn btn-secondary px-2"
          [routerLink]="['../personal-details']">
          <i class="sl-icon-arrow-left"></i> Go Back
        </button>
        <button type="button" class="btn btn-primary px-2"
                [routerLink]="['../house-details']">
          House Details <i class="sl-icon-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
