<a tabindex="0" class="btn btn-action btn-link notification has-notifications" role="button" triggers="focus"
   [ngClass]="{ 'has-notifications': hasNotifications() }"
   [ngbPopover]="alertPopContent" placement="bottom">
  <i class="far fa-bell"></i>
</a>
<ng-template #alertPopContent>
  <ul class="list-group">
    <li *ngFor="let notification of notifications"
        class="list-group-item d-flex justify-content-between align-items-center"
        [ngClass]="{ 'not-read text-right': notification.read === false }">
      <span class="mr-auto text-nowrap">{{ notification.text }}</span>
      <i class="icon fas fa-angle-right"></i>
    </li>
  </ul>
</ng-template>
