<h3 class="text-dark mb-4">My Inlife Advisor</h3>

<div class="row">
  <div class="col-xl-9">
    <div class="card housing-trip card-spacer">
      <div class="card-header card-header-big">
        <h5 class="card-title text-dark">Your Virtual Trip</h5>
        <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#modalHouseDetails">Change
          Details
        </button>
      </div>
      <div class="card-body">
        <div class="row no-gutters housing-trip-info bordered-columns-lg">
          <div class="col-6 col-lg-4">
            <form>
              <div class="form-group">
                <label class="control-label-sm">Trip day</label>
                <div class="d-flex">
                  <ng-template #tripDayPopContent>
                    <ngb-datepicker #dp name="tripDay" [(ngModel)]="virtualTrip.tripDay"
                                    class="ngb-datepicker">
                    </ngb-datepicker>
                  </ng-template>
                  <div class="input-formatted text-dark">
                    {{ virtualTrip.tripDay | amParse | amDateFormat:'MMM DD' }}
                    <small> {{ virtualTrip.tripDay | amParse | amDateFormat:'YYYY' }}</small>
                  </div>
                  <a tabindex="0" class="btn btn-action btn-link" role="button" triggers="focus"
                     [ngbPopover]="tripDayPopContent" placement="right">
                    <i class="icon sl-icon-calendar"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6 col-lg-4">
            <form>
              <div class="form-group">
                <label class="control-label-sm">Move-in day</label>
                <div class="d-flex">
                  <ng-template #moveInDayPopContent>
                    <ngb-datepicker #dp name="moveInDay" [(ngModel)]="virtualTrip.moveInDay"
                                    class="ngb-datepicker">
                    </ngb-datepicker>
                  </ng-template>
                  <div class="input-formatted text-dark">
                    {{ virtualTrip.moveInDay | amParse | amDateFormat:'MMM DD' }}
                    <small> {{ virtualTrip.moveInDay | amParse | amDateFormat:'YYYY' }}</small>
                  </div>
                  <a tabindex="0" class="btn btn-action btn-link" role="button" triggers="focus"
                     [ngbPopover]="moveInDayPopContent" placement="right">
                    <i class="icon sl-icon-calendar"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <form>
              <div class="form-group mb-0">
                <ng-template #budgetPopContent>
                  <div class="p-3">
                    <label class="control-label mb-2" for="tripBudget">Budget
                      <small>(monthly house rent)</small>
                    </label>
                    <div class="range-input">
                      <span class="range-value">0</span>
                      <nouislider id="tripBudget" class="custom-range" [connect]="[true, false]" [min]="0" [max]="400"
                                  [(ngModel)]="virtualTrip.housePreferences.budget" name="tripBudget"></nouislider>
                      <span class="range-value">400€</span>
                    </div>
                  </div>
                </ng-template>
                <label class="control-label-sm">Budget</label>
                <div class="d-flex">
                  <div class="input-formatted">
                    {{ virtualTrip.housePreferences.budget }}
                    <small>€</small>
                  </div>
                  <a tabindex="0" class="btn btn-action btn-link" role="button" triggers="focus"
                     [ngbPopover]="budgetPopContent" placement="top">
                    <i class="icon sl-icon-pencil"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-spacer">
      <div class="card-header card-header-big">
        <h5 class="card-title text-dark">Your Virtual Trip</h5>
      </div>
      <ul class=" list-group list-group-flush">
        <li class="list-group-item virtual-appointment py-4"
            *ngFor="let stop of virtualTrip.stops">
          <div class="row m-0 d-flex justify-content-left align-items-center flex-sm-column flex-md-row">
            <div class="col-md-2 p-0 mb-3 mb-md-0 virtual-appointment-date d-flex justify-content-between align-items-center flex-column flex-md-row">
              <span class="day-month d-flex flex-column justify-content-center mr-md-3 mr-0">
                <span>{{ stop.date | amDateFormat: 'DD' }}</span>
                <span>{{ stop.date | amDateFormat: 'MMM' }}</span>
              </span>
              <span class="time mt-3 mx-auto ml-md-0 mt-md-0 text-center text-md-left">
                {{ stop.date | amDateFormat: 'h a' }}
              </span>
            </div>
            <div class="col-md-7 p-0 mb-4 mb-md-0 virtual-appointment-name text-center text-md-left">
              <h4>{{ stop.house.title }}</h4>
            </div>
            <div class="col-md-3 p-0 virtual-appointment-buttons d-flex justify-content-right">
              <button class="btn btn-secondary mr-3 flex-fill" type="button">Reject</button>
              <button class="btn btn-primary flex-fill" type="button">Accept</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xl-3">
    <div class="card bg-info text-white card-spacer d-none d-md-block">
      <div class="card-header">
        <h5>What you’ll find in the city</h5>
      </div>
      <div class="card-body pt-0">
        <p class="mb-0">Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor
          euismod,.</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-light card-link" type="button">View Articles</button>
      </div>
    </div>

    <div class="card calendar-card">
      <div class="card-body">
        <ngb-datepicker class="w-100 ngb-datepicker"></ngb-datepicker>
      </div>
    </div>
  </div>

  <div class="col-xl-12 mt-4 d-none d-md-block">
    <div class="row card-row">
      <div class="col-md-5">
        <div class="card text-white transparent">
          <img class="card-img" src="https://picsum.photos/445/270/?random" alt="Card image">
          <div class="card-img-overlay p-0">
            <div class="card-header">
              <h5>Simply Ad</h5>
            </div>
            <div class="card-body pt-0">
              <p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor
                euismod,.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-light card-link" type="button">More details</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="card text-white bg-secondary transparent">
          <div class="card-header">
            <h5>Simply Ad</h5>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-md-6 col-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet
                  neque. </p>
              </div>
              <div class="col-md-6 col-12 text-center">
                <img src="assets/img/houses.png" class="img-fluid" alt="Housing Trip">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-light card-link" type="button">More details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal HOUSE DETAILS-->
<div class="modal fade" id="modalHouseDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-0">
      <div class="modal-header border-bottom-0 px-4">
        <h2 class="text-primary mt-2 mb-0">Change <span class="font-weight-bold">House Details</span></h2>
      </div>
      <div class="modal-body form-col col-lg-12 px-4">
        <form>
          <div class="form-group form-row">
            <div class="col-6 form-column mr-3">
              <label class="control-label d-block" for="monthsStay">Period of stay
              </label>
              <input type="number" class="form-control w-50 d-inline" id="monthsStay" name="Period of stay"
                     placeholder="1" step="1"/><span class="ml-2 w-50 d-inline">Months</span>
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col-4 form-column mr-3">
              <label class="control-label d-block" for="numBedrooms">Bedrooms</label>
              <input type="number" class="form-control" id="numBedrooms" name="Number of Bedrooms" placeholder="0"
                     step="1"/>
            </div>
            <div class="col-4 form-column">
              <label class="control-label d-block" for="numPeople">Num. of people</label>
              <input type="number" class="form-control" id="numPeople" name="Number of People" placeholder="1"
                     step="1"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label d-block" for="typeAccommodation">TYPE OF ACCOMODATION</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="typeAccommodation">
              <label class="btn btn-secondary active px-4 py-2">
                <input type="radio" name="typeAccommodation" id="option1" autocomplete="off" checked> Bedroom
              </label>
              <label class="btn btn-secondary px-4 py-2">
                <input type="radio" name="typeAccommodation" id="option2" autocomplete="off"> Entire Property
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label d-block" for="location">Prefered location</label>
            <input type="text" class="form-control" id="location" placeholder="Search...">
          </div>

          <div class="form-group">
            <label class="control-label d-block">Aditional Preferences</label>
            <div class="btn-group-image btn-group-toggle image-block-group " data-toggle="buttons">
              <label class="btn btn-secondary image-block"
                     *ngFor="let feature of houseFeatures">
                <img [src]="feature.image" [alt]="feature.name" />
                <input type="checkbox" name="features" checked autocomplete="off">
                <span>{{ feature.name }}</span>
              </label>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer p-4 justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      <!-- modal content end -->
    </div>
  </div>
</div>
<button id="openModal" #openModal [hidden]="true" data-toggle="modal" data-target="#upgradeModal"></button>

<!-- Modal UPGRADE-->
<div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog" aria-labelledby="upgradeModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-0 ">
      <div class="modal-header px-3 mb-0 border-bottom-0">
        <a class="close" data-dismiss="modal">×</a>
      </div>
      <div class="modal-body d-flex flex-column text-center px-4 pb-4 pt-0">
        <div class="row">
          <div class="col-12">
            <header>
              <img class="mb-1" src="assets/img/housing-trip-car.png" alt="housing trip"/>
              <h2 class="text-primary mb-0">Upgrade for <span class="font-weight-bold">My InLife Advisor</span></h2>
              <p class="my-5">With My InLife Advisor you can see <span
                class="font-weight-bold">one or more houses</span>, get to know your <span class="font-weight-bold">housemates and surroundings.</span>
              </p>
              <h2 class="text-primary mb-5">Only for <span class="font-weight-bold">25€</span></h2>
              <div class=" d-flex flex-column justify-content-center mx-5 mb-4">
                <button type="button" class="btn btn-success px-2 mb-3">
                  Upgrade for InLife Advisor
                </button>
              </div>
            </header>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex flex-row justify-content-center d-md-none border-top-0">
        <button type="button" class="btn btn-link" data-dismiss="modal">
          No, thank you
        </button>
      </div>
    </div>
  </div>
</div>

