// adds a border between the columns in a row

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .row.bordered-columns#{$infix} {
      > [class*='col'] {
        border-left: $border-width solid $border-color;

        &:first-child {
          border-left: 0;
        }
      }
    }
  }
}
