// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$white: $white;
$gray-200: #ebeef1;
$gray-400: #CFD5DC;
$gray-800: $gray-800;

$blue:    #1e3dae;
$purple:  #9575CD;
$green:   #2dc928;

$primary:       $blue;
$secondary:     $gray-400;
$dark:          #434a5f;


// Body
//
// Settings for the `<body>` element.

$body-bg:                   $gray-200;
$body-color:                $dark;

// Links
//
// Style anchor elements.

$link-hover-decoration:     none;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:           1.875rem;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius-lg:            0.375rem;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base: 'Inter UI', sans-serif;

$font-size-base:              $font-size-base;
$font-size-sm:                $font-size-sm;

$h1-font-size:                $font-size-base * 2.25;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.25;
$h4-font-size:                $font-size-base * 1.125;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base * 0.875;

$headings-color:              $dark;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-focus-width:       $font-size-base * .125;
$input-btn-focus-color:     rgba(85, 150, 230, 0.5);
$input-btn-focus-box-shadow:  0 0 $input-btn-focus-width $input-btn-focus-width $input-btn-focus-color;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-border-width:            $font-size-base * 0.0938;
$btn-disabled-opacity:        .5;
$btn-border-radius:           4.6875rem; // 75px
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-sm:        $btn-border-radius;

// Forms

$input-placeholder-color:               rgba(189, 195, 202, 0.9);

$form-group-margin-bottom:         2rem;

$custom-control-indicator-bg-size: 70% 70%;
$custom-control-indicator-bg: $white;
$custom-control-indicator-size: 1.125rem;

$custom-control-indicator-checked-color: $primary;
$custom-control-indicator-checked-bg: $white;

$custom-range-track-bg:             $gray-400;
$custom-range-track-height:         .125rem;

$custom-range-thumb-width:            1.5rem;

// Navbar

$navbar-dark-color:                 rgba($white, .3);

// Cards

$card-spacer-y:                     1.5625rem;
$card-spacer-x:                     1.5rem;
$card-border-width:                 0.0625rem;
$card-border-radius:                $border-radius-lg;
$card-border-color:                 $secondary;
$card-inner-border-radius:          $border-radius-lg;
$card-bg:                           $white;
$card-cap-bg:                       $card-bg;

$card-img-overlay-padding:          $card-spacer-y $card-spacer-x;

// Carousel

$carousel-control-color:            $primary;
$carousel-control-opacity:          1;

$carousel-indicator-width:          10px;
$carousel-indicator-height:         $carousel-indicator-width;
$carousel-indicator-spacer:         10px;
$carousel-indicator-active-bg:      $primary;

$carousel-control-icon-width:       30px;

$carousel-control-prev-icon-bg:     none;
$carousel-control-next-icon-bg:     none;
