// Variables
//
// This is for in-house variables

// Icons
//
//

$inlife-font-path: '../assets/font';

//
// Color system
//

$white: #fff;
$gray-800: #34394c;

$btn-primary-hover: #5596e6;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                ($font-size-base * .875);

// Buttons
//
//

$btn-font-size: $font-size-sm;

// Navbar
//
//

$navbar-height: 4.25rem;

// Cards
//
//

$card-margin-bottom: 1.875rem;
$card-spacer-x-sm: 1.875rem;

// Carousel
//
//

$carousel-control-icon-background-color: $white;

// Dashboard
//
//

$dashboard-padding-x-xs: 1rem;
$dashboard-padding-x-sm: 1.9375rem;
$dashboard-padding-y: 1.3125rem;

// Sidebar
//
//

$sidebar-width-side: 6.25rem; // 100px
$sidebar-height-bottom: 6.25rem; // 100px
$sidebar-background-color: $gray-800;

$sidebar-breakpoint: sm;
