@import "~themes/themes";

.card.notifications .list-group-item,
.card.notifications .list-group-item,
.card.notifications .list-group-item:hover{
    border:0;
    border-top:1px solid $gray-200;
    z-index: 0;

    &:first-child{
        border-top:0px;
    }
}

.card.notifications .list-group-item:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background-color: #88939E;
    position: relative;
    margin-right: 20px;
}


.card.notifications .not-read{
    background-color:#EDF2FA;
}

.card.notifications .not-read.list-group-item:before {
    background-color: $primary;
}

.card.notifications .delete{
  font-size:12px;
  opacity:0.7;
}