<div class="row">
  <div class="col-12 col-lg-4">
    <h3 class="text-dark mb-4">Patricia Mendonza</h3>
    <div class="card card-spacer">
      <div class="card-body p-4 d-flex flex-column align-items-start">
        <div
          class="user big upload d-flex flex-column align-items-center d-flex flex-md-row align-items-md-center mb-4">
          <div class="user-image-wrapper">
            <img class="img user-img user-img-big" [src]="user.avatar.url"/>
          </div>
        </div>

        <form name="userProfileForm">
          <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Christopher McCandle">
          </div>
          <div class="form-group">
            <label class="control-label" for="userEmail">Email</label>
            <input type="email" class="form-control" id="userEmail" placeholder="john@doe.com">
          </div>
          <div class="form-group">
            <label class="control-label" for="userPhone">Phone Number</label>
            <input type="tel" class="form-control" id="userPhone"
                   placeholder="+000 123 456 789">
          </div>
          <div class="form-group">
            <label class="control-label d-block" for="gender">Gender</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="gender">
              <label class="btn btn-secondary active px-4 py-2">
                <input type="radio" name="gender" id="genderMale" autocomplete="off"
                       ([ngModel])="user.gender" value="male"/> Male
              </label>
              <label class="btn btn-secondary px-4 py-2">
                <input type="radio" name="gender" id="genderFemale" autocomplete="off"
                       ([ngModel])="user.gender" value="female"/> Female
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="userNationality">Nationality</label>
            <select class="custom-select" id="userNationality" name="nationality"
                    [(ngModel)]="user.nationality">
              <option [ngValue]="null" hidden>Where are you from</option>
              <option *ngFor="let nationality of countries" [ngValue]="nationality.value">
                {{ nationality.label }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="userRegion">Region</label>
            <select class="custom-select" id="userRegion" name="region"
                    ([ngModel])="user.region">
              <option [ngValue]="null" hidden>Select your region...</option>
              <option *ngFor="let region of regions" [ngValue]="region.value">
                {{ region.label }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" for="userUniversity">University</label>
            <select class="custom-select" id="userUniversity" name="university"
                    ([ngModel])="user.university">
              <option [ngValue]="null" hidden>Select your future University</option>
              <option *ngFor="let university of universities" [ngValue]="university.value">
                {{ university.label }}
              </option>
            </select>
          </div>
        </form>

      </div>
      <div class="card-footer p-4 d-flex justify-content-between border-top">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-8">
    <h3 class="text-dark mb-4">Your Virtual Trip</h3>
    <div class="card">
      <ul class=" list-group list-group-flush">
        <li class="list-group-item virtual-appointment py-4"
            *ngFor="let stop of virtualTrip.stops">
          <div class="row m-0 d-flex justify-content-left align-items-center flex-sm-column flex-md-row">
            <div class="col-md-2 p-0 mb-3 mb-md-0 virtual-appointment-date d-flex justify-content-between align-items-center flex-column flex-md-row">
              <span class="day-month d-flex flex-column justify-content-center mr-md-3 mr-0">
                <span>{{ stop.date | amDateFormat: 'DD' }}</span>
                <span>{{ stop.date | amDateFormat: 'MMM' }}</span>
              </span>
              <span class="time mt-3 mx-auto ml-md-0 mt-md-0 text-center text-md-left">
                {{ stop.date | amDateFormat: 'h a' }}
              </span>
            </div>
            <div class="col-md-7 p-0 mb-4 mb-md-0 virtual-appointment-name text-center text-md-left">
              <h4>{{ stop.house.title }}</h4>
            </div>
            <div class="col-md-3 p-0 virtual-appointment-buttons d-flex justify-content-right">
              <button class="btn btn-secondary mr-3 flex-fill" type="button">Reject</button>
              <button class="btn btn-primary flex-fill" type="button">Accept</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <h3 class="text-dark my-4">Notifications</h3>
    <div class="card notifications">
      <ul class="list-group">
        <li *ngFor="let notification of notifications" [ngClass]="{ 'not-read': notification.read === false }"
          class="list-group-item not-read d-flex justify-content-between align-items-center text-right">
          <span class="mr-auto text-nowrap">{{ notification.text }}</span>
          <a class="btn btn-action btn-link delete" role="button">
            <i class="fas fa-trash"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>
