@import "~themes/themes";

$login-vertical-line-padding: 60px;
$login-external-login-button-margin: 40px;
$login-footer-margin-v: 1.25rem;
$footer-height: ($login-footer-margin-v * 2) +  $line-height-base;

.login {
  height: 100%;
  display: flex;
  flex-flow: column;

  @include media-breakpoint-up(md) {
    min-height: calc(100vh - #{$navbar-height});
  }

  .login-content {
    flex-grow: 1;
  }
}

.sub-heading {
  font-size: $font-size-sm;
}

form label {
  color: $gray-700;
  font-size: 0.75rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

footer {
  font-size: $font-size-sm;
  margin: $login-footer-margin-v 0;

  a {
    text-decoration: underline;
  }

  &,
  a {
    color: $gray-600;
  }
}

.form-group {
  margin-bottom: 30px;
}

.login-options-col {
  .btn {
    margin-top: $login-external-login-button-margin;
    margin-bottom: $login-external-login-button-margin;
  }
}

@include media-breakpoint-up(lg) {
  .form-col {
    padding-right: $login-vertical-line-padding;
    border-right: 2px solid $gray-300;
  }

  .login-options-col {
    padding-left: $login-vertical-line-padding;
  }

  main {
    padding-bottom: $footer-height;
  }

  footer {
    width: 100%;
  }
}
