<div class="login">
  <section class="login-content d-flex flex-column justify-content-center">
    <header class="mb-4">
      <h1 class="text-primary">Your InLife journey starts here!</h1>
      <p class="sub-heading text-muted">Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In
        malesuada enim in
        dolor
        euismod, id commodo mi.</p>
    </header>

    <div class="row">
      <div class="form-col col-lg-7">
        <form>
          <div class="form-group">
            <label for="userName">Name</label>
            <input type="text" class="form-control" id="userName" placeholder="John Doe">
          </div>
          <div class="form-group">
            <label for="userEmail">Email</label>
            <input type="email" class="form-control" id="userEmail" placeholder="john@doe.com">
          </div>
          <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password" class="form-control" id="userPassword" placeholder="6+ characters">
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-link p-0">Continue as guest</button>
            <button type="button" class="btn btn-primary px-2">Continue</button>
          </div>
        </form>
      </div>
      <div class="login-options-col col-lg-5">
        <div class="d-flex flex-column justify-content-around">
          <button type="button" class="btn btn-light">
            <i class="fab fa-google"></i>
            Continue with Google
          </button>
          <button type="button" class="btn btn-primary mt-0">
            <i class="fab fa-facebook"></i>
            Continue with Facebook
          </button>
        </div>
      </div>
    </div>
  </section>
  <footer>
    By continuing, you agree with InLife <a href="#">Termsof Service</a> and <a>Privacy Policy</a>.
  </footer>
</div>
