@import "~themes/themes";

.fa-whatsapp {
  background-image: linear-gradient(195deg, #59cf65, #28b43e);
}

.fa-facebook-f {
  background-color: #3b5998;
}

.fa-twitter {
  background-color: #1da1f2;
}

.operator-bio {
  margin-left: 0;

  @include media-breakpoint-up(md) {
    margin-left: calc(100px + #{$spacer});
  }
}

.chat-card {
  .card-body {
    padding: 0;
  }
}

.social-link {
  width: 33px;
  height: 33px;
  border-radius: 16.5px;
  text-align: center;
  line-height: 33px;
  color: #fff;
}

/*chat*/
.chat {
  list-style: none;
  margin: 0;
  padding: 1.875rem;
  overflow-y: scroll;
  height: 250px;
}

.current-user {
  > .chat-img {
    order: 2;
  }

  > .chat-body {
    order: 1;
  }
}

.chat .message {
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.chat .message .chat-body .baloon {
  background-color: #ebeef1;
  border-radius: 4px;
  position: relative;

}

.chat .message.current-user .chat-body .baloon {
  background-color: rgba(30, 61, 174, 0.2);
  margin-left: 0;
  margin-right: 16px;
}

.chat .message:not(.current-user) .chat-body .baloon {
  margin-left: 16px;
}

.chat .message .chat-body .baloon:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #ebeef1;
  position: absolute;
  left: -9px;
  top: 12px;
}

.chat .message.current-user .chat-body .baloon:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid rgba(30, 61, 174, 0.2);
  position: absolute;
  right: -9px;
  top: 12px;
  transform: rotate(-180deg);
}

.chat .message.current-user .chat-body .baloon:before {
  display: none;
}

.chat .message .chat-body .baloon .chat-name {
  font-weight: bold;
  margin-right: 5px;
}

.chat .current-user .chat-body .baloon .chat-name {
  color: #1e3dae;
}

.chat .message .chat-body .time {
  margin-left: 16px;
}

.chat .message.current-user .chat-body .time {
  margin-left: 0px;
  margin-right: 16px;
}

.chat .message .chat-body .baloon {
  margin: 0;
  font-size: 14px;
  color: #434a5f;
}

.btn-send {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: linear-gradient(195deg, #59cf65, #28b43e);
  color: #fff;
  border: 0;
  padding: 0;
}
