<h3 class="text-dark mb-4">Operator</h3>
<div class="row">
  <div class="col-md-7">
    <div class="card card-spacer">
      <div class="card-body p-4">
        <div class="user big online d-flex flex-column align-items-center d-flex flex-md-row align-items-md-center">
          <div class="user-image-wrapper">
            <img class="img user-img user-img-big" [src]="operator.avatar.url"
                 [title]="operator.avatar.name"/>
          </div>
          <div class="user-info-wrapper d-flex flex-column  my-4 ml-0 my-md-0 ml-md-3 justify-content-center ">
            <span class="user-name text-dark text-center text-md-left">
              {{ operator.name }}
            </span>
            <span class="user-role">Inlife Operator</span>
          </div>
        </div>
        <div class="operator-bio ">
          <p class="p-0 mb-4">{{ operator.description }}</p>
          <h6 class="p-0 mb-4">Interests and Hobbies</h6>
          <p class="p-0 mb-4">{{ operator.interests }}</p>
          <h6 class="p-0 mb-4">Social</h6>
          <div class="d-flex">
            <a *ngFor="let social of operator.social"
               [href]="social.url">
              <i class="fab social-link mr-3"
                 [ngClass]="getSocialLinkIcon(social.name)"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card chat-card card-spacer">
      <div class="card-header border-bottom-0 pb-0">
        <h3 class="text-dark mb-0">Whatsapp</h3>
      </div>
      <div class="card-body">
        <ul class="chat">
          <li class="message d-flex" *ngFor="let message of messages"
              [ngClass]="{ 'current-user': isCurrentUser(message.from.id) }">
            <div class="chat-img">
              <div
                class="user d-flex flex-column align-items-center d-flex flex-md-row align-items-md-center">
                <div class="user-image-wrapper">
                  <img class="img user-img" [src]="message.from.avatar.url"/>
                </div>
              </div>
            </div>
            <div class="chat-body">
              <p class="baloon p-2">
                <span class="chat-name">{{ message.from.name }}</span>
                <span> {{ message.content }} </span>
              </p>
              <small class="time text-muted">
                {{ message.time | amTimeAgo }}
              </small>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-footer border-top">
        <div class="form-group d-flex justify-content-center mb-0">
          <input type="text" class="form-control" placeholder="Type your message here..."/>

          <button class="btn btn-send ml-3" id="btn-chat">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
