<h3 class="text-dark mb-4">Housing Trip</h3>

<div class="card-row row">
  <div class="col">
    <div class="card housing-trip">
      <div class="card-header card-header-big">
        <h5 class="card-title text-dark">Your Housing Trip</h5>
        <form class="form-inline">
          <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#modalHouseDetails">Change
            Details
          </button>
        </form>
        <div class="user online">
          <div class="user-image-wrapper">
            <img class="img user-img" src="https://randomuser.me/api/portraits/men/43.jpg"/>
            <i class="fab icon fa-whatsapp"></i>
          </div>
          <div class="user-info-wrapper d-flex flex-column ml-2 justify-content-center ">
            <span class="user-name text-dark">Tiago Faria</span>
            <span class="user-role">Inlife Operator</span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters housing-trip-info bordered-columns-lg">
          <div class="col-6 col-lg-3">
            <form>
              <div class="form-group">
                <label class="control-label-sm">Trip day</label>
                <div class="d-flex">
                  <ng-template #tripDayPopContent>
                    <ngb-datepicker #dp name="tripDay" [(ngModel)]="housingTrip.tripDay"
                                    class="ngb-datepicker">
                    </ngb-datepicker>
                  </ng-template>
                  <div class="input-formatted text-dark">
                    {{ housingTrip.tripDay | amParse | amDateFormat:'MMM DD' }}
                    <small> {{ housingTrip.tripDay | amParse | amDateFormat:'YYYY' }}</small>
                  </div>
                  <a tabindex="0" class="btn btn-action btn-link" role="button" triggers="focus"
                     [ngbPopover]="tripDayPopContent" placement="right">
                    <i class="icon sl-icon-calendar"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6 col-lg-3">
            <form>
              <div class="form-group">
                <label class="control-label-sm">Move-in day</label>
                <div class="d-flex">
                  <ng-template #moveInDayPopContent>
                    <ngb-datepicker #dp name="moveInDay" [(ngModel)]="housingTrip.moveInDay"
                                    class="ngb-datepicker">
                    </ngb-datepicker>
                  </ng-template>
                  <div class="input-formatted text-dark">
                    {{ housingTrip.moveInDay | amParse | amDateFormat:'MMM DD' }}
                    <small> {{ housingTrip.moveInDay | amParse | amDateFormat:'YYYY' }}</small>
                  </div>
                  <a tabindex="0" class="btn btn-action btn-link" role="button" triggers="focus"
                     [ngbPopover]="moveInDayPopContent" placement="right">
                    <i class="icon sl-icon-calendar"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6 col-lg-3">
            <form name="housingTrip">
              <div class="form-group">
                <ng-template #budgetPopContent>
                  <div class="p-3">
                    <label class="control-label mb-2">Budget
                      <small>(monthly house rent)</small>
                    </label>
                    <div class="range-input">
                      <span class="range-value">0</span>
                      <nouislider id="userBudget" class="custom-range" [connect]="[true, false]" [min]="0" [max]="400"
                                  [(ngModel)]="housingTrip.housePreferences.budget" name="budget"></nouislider>
                      <span class="range-value">400€</span>
                    </div>
                  </div>
                </ng-template>
                <label class="control-label-sm">Budget</label>
                <div class="d-flex">
                  <div class="input-formatted">
                    {{ housingTrip.housePreferences.budget }}
                    <small>€</small>
                  </div>
                  <a tabindex="0" class="btn btn-action btn-link" role="button" triggers="focus"
                     [ngbPopover]="budgetPopContent" placement="top">
                    <i class="icon sl-icon-pencil"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6 col-lg-3">
            <form>
              <div class="form-group">
                <label class="control-label-sm">Who is coming with you</label>
                <div class="d-flex user-image-group">
                  <img *ngFor="let roommate of housingTrip.roommates"
                       class="img user-img user-img-small"
                       [src]="roommate.avatar.url"
                       [alt]="roommate.name">
                  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalFlatmatesHelper"><i
                    class="fas fa-plus-circle"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row card-row">
  <div class="col-lg-6">
    <div class="card testimonial-card">
      <div id="testimonialsCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#testimonialsCarousel"
              *ngFor="let a of testimonials; index as index1; first as isFirst1"
              [ngClass]="{ 'active': isFirst1 }"
              [attr.data-slide-to]="index1">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item"
               [ngClass]="{ 'active': isFirst2 }"
               *ngFor="let testimonial of testimonials; first as isFirst2">

            <h4 class="text-dark">“{{ testimonial.title }}”</h4>
            <p>{{ testimonial.text }}</p>
            <div class="user ml-auto d-flex flex-row">
              <div class="user-image-wrapper">
                <img [src]="testimonial.person.avatar.url" class="img user-img-small" alt="Crew Member">
              </div>
              <div class="user-info-wrapper d-flex flex-column ml-2 justify-content-center ">
                <span class="user-name text-dark">{{ testimonial.person.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card bg-info text-white">
      <div class="card-header">
        <h5>What you’ll find in the city</h5>
      </div>
      <div class="card-body pt-0">
        <p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod,.</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-light card-link" type="button">View Articles</button>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card bg-light">
      <div class="card-header">
        <div class="user d-flex flex-row">
          <div class="user-image-wrapper">
            <img src="https://randomuser.me/api/portraits/men/43.jpg" class="img user-img" alt="Crew Member">
          </div>
          <div class="user-info-wrapper d-flex flex-column ml-2 justify-content-center ">
            <span class="user-name text-dark">Tiago Faria</span>
            <span class="user-role">Inlife Operator</span>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod,.</p>
      </div>
    </div>
  </div>
</div>

<div class="row card-row">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-header">
        <h5 class="text-dark">My Inlife Advisor</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-12">
            <p>Upgrade to my InLife advisor and you'll have virtual access to <b>Houses, Meet landlords, Visit
              Neighbourhood!</b></p>
          </div>
          <div class="col-md-6 col-12 text-center">
            <img src="assets/img/houses.png" class="img-fluid" alt="Housing Trip">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success card-link" type="button">Upgrade</button>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card text-white">
      <img class="card-img" src="https://picsum.photos/445/270/?random" alt="Card image">
      <div class="card-img-overlay d-flex justify-content-center align-items-center ">
        <a href="#" class="play-button"><i class="fas fa-play"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="row card-row">
  <div class="col-md-5">
    <div class="card text-white transparent">
      <img class="card-img" src="https://picsum.photos/445/270/?random" alt="Card image">
      <div class="card-img-overlay p-0">
        <div class="card-header">
          <h5>Simply Ad</h5>
        </div>
        <div class="card-body pt-0">
          <p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod,.</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-light card-link" type="button">More details</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card text-white bg-secondary transparent">
      <div class="card-header">
        <h5>Simply Ad</h5>
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-md-6 col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet
              neque. </p>
          </div>
          <div class="col-md-6 col-12 text-center">
            <img src="assets/img/houses.png" class="img-fluid" alt="Housing Trip">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-light card-link" type="button">More details</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal ADD FLATMATES HELPER-->
<div class="modal fade" id="modalFlatmatesHelper" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-0">
      <div class="modal-header border-bottom-0 px-4">
        <h2 class="text-primary mt-2 mb-0">Add <span class="font-weight-bold">Flatmate or helper</span></h2>
      </div>
      <div class="modal-body form-col col-lg-12 px-4">
        <div class="btn-group-image btn-group-toggle mt-4 image-block-group" data-toggle="buttons">
          <label class="btn btn-secondary image-block">
            <img src="assets/icon/helper.png" alt="Helper"/>
            <input type="checkbox" checked autocomplete="off">
            <span>Helper</span>
          </label>
          <label class="btn btn-secondary image-block">
            <img src="assets/icon/flatmate.png" alt="Flatmate"/>
            <input type="checkbox" checked autocomplete="off"> Flatmate
          </label>
        </div>

        <div class="form-group">
          <label class="control-label" for="userName">Name</label>
          <input type="text" class="form-control" id="userName" placeholder="John Doe">
        </div>
        <div class="form-group">
          <label class="control-label" for="userEmail">Email</label>
          <input type="email" class="form-control" id="userEmail"
                 placeholder="john@doe.com">
        </div>
        <div class="form-group">
          <label class="control-label" for="userPhone">Phone Number</label>
          <input type="tel" class="form-control" id="userPhone"
                 placeholder="+000 123 456 789">
        </div>

        <div class="form-group">
          <label class="control-label d-block" for="gender">Gender</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="gender">
            <label class="btn btn-secondary active px-4 py-2">
              <input type="radio" name="gender" id="option1" autocomplete="off" checked> Male
            </label>
            <label class="btn btn-secondary px-4 py-2">
              <input type="radio" name="gender" id="option2" autocomplete="off"> Female
            </label>
          </div>
        </div>

      </div>
      <div class="modal-footer p-4 justify-content-between">
        <a href="#" class="btn btn-link" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary">Add Person</a>

      </div>
    </div>
  </div>
</div>
<!-- Modal FLATMATES HELPER-->


<!-- Modal HOUSE DETAILS-->
<div class="modal fade" id="modalHouseDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-0">
      <div class="modal-header border-bottom-0 px-4">
        <h2 class="text-primary mt-2 mb-0">Change <span class="font-weight-bold">House Details</span></h2>
      </div>
      <div class="modal-body form-col col-lg-12 px-4">
        <form>
          <div class="form-group form-row">
            <div class="col-6 form-column mr-3">
              <label class="control-label d-block" for="monthsStay">Period of stay
              </label>
              <input type="number" class="form-control w-50 d-inline" id="monthsStay" name="Period of stay"
                     placeholder="1" step="1"/><span class="ml-2 w-50 d-inline">Months</span>
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col-4 form-column mr-3">
              <label class="control-label d-block" for="numBedrooms">Bedrooms</label>
              <input type="number" class="form-control" id="numBedrooms" name="Number of Bedrooms" placeholder="0"
                     step="1"/>
            </div>
            <div class="col-4 form-column">
              <label class="control-label d-block" for="numPeople">Num. of people</label>
              <input type="number" class="form-control" id="numPeople" name="Number of People" placeholder="1"
                     step="1"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label d-block" for="typeAccommodation">TYPE OF ACCOMODATION</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="typeAccommodation">
              <label class="btn btn-secondary active px-4 py-2">
                <input type="radio" name="typeAccommodation" id="option1" autocomplete="off" checked> Bedroom
              </label>
              <label class="btn btn-secondary px-4 py-2">
                <input type="radio" name="typeAccommodation" id="option2" autocomplete="off"> Entire Property
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label d-block" for="location">Prefered location</label>
            <input type="text" class="form-control" id="location" placeholder="Search...">
          </div>

          <div class="form-group">
            <label class="control-label d-block">Aditional Preferences</label>
            <div class="btn-group-image btn-group-toggle image-block-group " data-toggle="buttons">
              <label class="btn btn-secondary image-block"
                     *ngFor="let feature of houseFeatures">
                <img [src]="feature.image" [alt]="feature.name" />
                <input type="checkbox" name="features" checked autocomplete="off">
                <span>{{ feature.name }}</span>
              </label>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer p-4 justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      <!-- modal content end -->
    </div>
  </div>
</div>
<!-- Modal HOUSE DETAILS-->
