@import "~themes/themes";

.bg-secondary {
  background-color: $purple !important;
}

.housing-trip {
  .user {
    align-self: flex-end;
    margin: 2.5rem auto;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
