<section class="h-100 d-flex flex-column justify-content-center inner-content">

  <section class="d-sm-none">
    <ngb-carousel>
      <ng-template ngbSlide>
        <onboarding-card></onboarding-card>
      </ng-template>
      <ng-template ngbSlide>
        <onboarding-card></onboarding-card>
      </ng-template>
    </ngb-carousel>
  </section>

  <section class="d-none d-sm-block">
    <div class="row">
      <div class="col">
        <div class="card mb-4">
          <onboarding-card></onboarding-card>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4">
          <onboarding-card></onboarding-card>
        </div>
      </div>
    </div>
  </section>

</section>
