@import "~themes/themes";

.card-title {
  font-size: 1.375rem;
  font-weight: $font-weight-bold;
}

.card-title,
.card-subtitle {
  color: $dark;

  small {
    font-weight: inherit;
  }
}

.card-body {
  header {
    margin-bottom: 20px;
  }
}

.remaining {
  font-size: 0.875rem;
  color: $text-muted;
}

.card-footer {
  .btn.disabled {
    color: $primary;
  }
}

.preparing {
  .card-title,
  .card-subtitle {
    color: $text-muted;
  }
}
