<h3 class="text-dark mb-4">Houses</h3>

<div class="row card-row">
  <div class="col-sm-6 col-md-4" *ngFor="let house of houses; let houseIndex = index;">
    <div class="card">
      <ngb-carousel showNavigationArrows="true">
        <ng-template ngbSlide *ngFor="let image of house.images">
          <img class="w-100" [src]="image.url" [alt]="image.name">
        </ng-template>
      </ngb-carousel>

      <div class="card-body">
        <header>
          <h5 class="card-title d-sm-inline-block">{{ house.price }}<small>€</small></h5>
          <div class="float-sm-right remaining"><i class="fas fa-clock"></i> <strong>{{ getExpiryTimer(house.expiryDate) }}</strong> remaining</div>
        </header>
        <h6 class="card-subtitle">{{ house.title }}</h6>
        <p>{{ house.summary }}</p>
      </div>
      <div class="card-footer">
        <button *ngIf="houseIndex !== 2" type="button" class="btn btn-primary" [routerLink]="['./house']">
          Book House
        </button>
        <button *ngIf="houseIndex !== 2" type="button" class="btn btn-link float-sm-right">
          Book Live Tour
        </button>
        <button *ngIf="houseIndex === 2" type="button" class="btn btn-link disabled">
          Your virtual tour is being prepared ...
        </button>
      </div>
    </div>
  </div>
</div>
