.onboarding-card {
  text-align: center;
  padding: 1.875rem;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
}

.lead {
  color: #212529;
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 1.6875rem;
}

.text {
  color: #88939e;
  line-height: 1.43;
  font-size: 0.875rem;
  margin-bottom: 3.75rem;
}

.btn {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.5rem 4.8125rem;
}
