<div class="onboarding-card">
  <img class="mb-1" src="assets/img/housing-trip-car.png" alt="housing trip" />
  <h3 class="text-primary title">Housing Trip</h3>
  <div class="lead">
    <strong>Don't imagine. See it.</strong>
    <p>Choose, book after arrival.</p>
  </div>
  <p class="text-muted text">In a single 2-hour tour we take you to visit 3 apartments from our verified database, which are chosen based on your preferences. Our operators will personally assist you through all the process, until you sign the deal with the landlord.</p>
  <button type="button" class="btn btn-primary">Plan my trip!</button>
</div>
