@import "~themes/themes";

.dashboard {
  main {
    height: 100vh;
    padding-top: $navbar-height;
    padding-bottom: $sidebar-height-bottom;

    .content {
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding: $dashboard-padding-y $dashboard-padding-x-xs;
    }

    @include media-breakpoint-up($sidebar-breakpoint) {
      padding-bottom: 0;
      padding-left: $sidebar-width-side;

      .content {
        padding-left: $dashboard-padding-x-sm;
        padding-right: $dashboard-padding-x-sm;
      }
    }
  }
}

[class*='bordered-columns'] {
  > [class*='col'] {
    border-color: $card-border-color;
  }
}
