<section class="dashboard">

  <div class="container">
    <nav class="navbar fixed-top navbar-expand navbar-light bg-light">
      <a class="navbar-brand navbar-brand-primary" href="#">
        <img src="assets/icon/logo.png"/>
      </a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <notifications></notifications>

        <a href="" [routerLink]="['./profile']" class="user d-flex flex-row">
          <div class="user-image-wrapper">
            <img src="https://randomuser.me/api/portraits/women/53.jpg" class="img user-img" alt="Crew Member">
          </div>
          <div class="user-info-wrapper d-none d-md-flex flex-column ml-2 justify-content-center ">
            <span class="user-name text-dark">Patricia Mendonza</span>
          </div>
        </a>
        <form class="form-inline d-none d-md-flex flex-column ml-4">
          <button class="btn btn-sm btn-secondary" type="button">Log Out</button>
        </form>
      </div>
    </nav>
  </div>

  <main>
    <nav class="navbar-dark bg-dark sidebar">
      <div class="sidebar-sticky">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./houses']"
               routerLinkActive="active">
              <i class="icon icon-houses"></i>
              <div class="link-text">Houses</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./housing-trip']"
               routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="icon icon-housing-trip"></i>
              <div class="link-text">Housing Trip</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./inlife-advisor']"
               routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="icon icon-my-inlife-advisor"></i>
              <div class="link-text">My Inlife Advisor</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./operator']"
               routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="icon icon-operator"></i>
              <div class="link-text">Operator</div>
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>

</section>
