@import "~themes/themes";

agm-map {
  height: 483px;
}

.image-block {
  opacity: 0.5;
}

.page-title {
  font-weight: $font-weight-normal;
}

@include media-breakpoint-up(md) {
  .list-section {
    display: flex;
    align-items: center;

    .heading {
      margin-right: 3.75rem;
    }
  }
}

gallery {
  height: 490px
}

.gallery-section {
  background-color: $white;

  @include media-breakpoint-down(xs) {
    margin-top: -$dashboard-padding-y;
    margin-left: -$dashboard-padding-x-xs;
    margin-right: -$dashboard-padding-x-xs;
  }

  @include media-breakpoint-up(lg) {
    border-radius: $card-border-radius;
    overflow: hidden;
  }
}

.gallery-wrapper {
  position: relative;
}

.house-gallery-description {
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  background-color: rgba(52, 57, 76, 0.6);
  z-index: 1;
  padding: 1.5rem;
  color: $white;

  .time {
    opacity: 0.5;
    font-size: 0.875rem;
    line-height: 2.14;
    margin-bottom: 0.6875rem;
  }

  .title {
    color: inherit;
    margin-bottom: 1.25rem;
  }

  .price {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    bottom: 0;
    right: 151px;

    .title {
      float: left;
      margin-bottom: 0;
    }

    .price {
      float: right;
    }
  }
}

.stakeholders {
  label {
    font-size: 0.75rem;
  }
}
