<h3 class="page-title d-none d-lg-block mb-4">Houses <strong>/ Apartment with 4 bedrooms</strong></h3>
<div class="row">
  <div class="col col-lg-8">

    <section class="gallery-section mb-3">
      <div class="gallery-wrapper">
        <gallery [id]="galleryIdMobile" class="d-lg-none"
                 [thumbWidth]="galleryConfigMobile.thumbWidth"
                 [thumbHeight]="galleryConfigMobile.thumbHeight"
                 [thumbPosition]="galleryConfigMobile.thumbPosition">
        </gallery>

        <gallery [id]="galleryIdDesktop" class="d-none d-lg-block"
                 [thumbWidth]="galleryConfigDesktop.thumbWidth"
                 [thumbHeight]="galleryConfigDesktop.thumbHeight"
                 [thumbPosition]="galleryConfigDesktop.thumbPosition">
        </gallery>

        <div class="house-gallery-description">
          <div class="time">
            <i class="far fa-clock"></i> <strong>{{ getExpiryTimer(house.expiryDate) }}</strong> remaining
          </div>
          <h3 class="title">{{ house.title }}</h3>
          <p class="price">{{ house.price }}
            <small>€</small>
          </p>
        </div>
      </div>

      <div class="text-center d-lg-none">
        <button type="button" class="btn btn-primary w-75 mb-4 mt-4" data-toggle="modal"
                data-target="#checkoutModal">
          Book House
        </button>
      </div>
    </section>

    <div class="card card-spacer stakeholders d-lg-none">
      <div class="card-body">
        <div class="row">
          <div class="col-3 col-lg-5">
            <label>Landlord</label>
            <div>
              <img [src]="house.landlord.avatar.url"
                   class="img user-img user-img-small" alt="Landlord">
            </div>
          </div>
          <div class="col-9 col-lg-7">
            <label>Roommates</label>
            <div class="d-flex user-image-group">
              <img *ngFor="let roommate of house.roommates"
                   class="img user-img user-img-small"
                   [src]="roommate.avatar.url"
                   [alt]="roommate.name">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-spacer d-lg-none">
      <div class="card-header text-uppercase">
        House Details
      </div>
      <div class="card-body">
        <ul class="list-unstyled">
          <li *ngFor="let detail of house.details" class="mb-2">
            <i class="mr-2" [class]="detail.icon"></i>
            {{ detail.description }}
          </li>
        </ul>
      </div>
    </div>

    <div class="card card-spacer description">
      <div class="card-header text-uppercase">
        Description
      </div>
      <div class="card-body">
        <section [innerHtml]="house.description"></section>

        <hr/>

        <section class="list-section">
          <h5 class="heading">Amenities</h5>
          <div class="image-block-group">
            <div class="image-block"
              *ngFor="let amenity of house.amenities">
              <img [src]="amenity.image" [alt]="amenity.name"/>
              <span>{{ amenity.name }}</span>
            </div>
          </div>
        </section>

        <hr/>

        <section class="list-section">
          <h5 class="heading">House rules</h5>
          <div class="image-block-group">
            <div class="image-block"
                 *ngFor="let rule of house.rules">
              <img [src]="rule.image" [alt]="rule.name"/>
              <span>{{ rule.name }}</span>
            </div>
          </div>
        </section>

        <hr/>

        <section>
          <h5 class="heading mb-3">Location</h5>

          <agm-map
            [latitude]="house.location.position.latitude"
            [longitude]="house.location.position.longitude"
            [zoom]="zoom"
            [disableDefaultUI]="true"
            [disableDoubleClickZoom]="true"
            [streetViewControl]="false"
            [fullscreenControl]="false"
            [mapDraggable]="false"
            [panControl]="false"
            [rotateControl]="false"
            [scaleControl]="false"
            [scrollwheel]="false"
            [zoomControl]="false">
          </agm-map>
        </section>

      </div>
    </div>
  </div>
  <div class="d-none d-lg-block col-3">
    <button type="button" class="btn btn-primary w-100 mb-4" data-toggle="modal" data-target="#checkoutModal">Book
      House
    </button>

    <div class="card card-spacer stakeholders">
      <div class="card-body">
        <div class="row">
          <div class="col-3 col-lg-5 px-4">
            <label>Landlord</label>
            <div>
              <img [src]="house.landlord.avatar.url"
                   class="img user-img user-img-small" alt="Landlord">
            </div>
          </div>
          <div class="col-9 col-lg-7 border-left px-4">
            <label>Roommates</label>
            <div class="d-flex user-image-group">
              <img *ngFor="let roommate of house.roommates"
                   class="img user-img user-img-small"
                   [src]="roommate.avatar.url"
                   [alt]="roommate.name">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-spacer">
      <div class="card-header text-uppercase">
        House Details
      </div>
      <div class="card-body">
        <ul class="list-unstyled">
          <li *ngFor="let detail of house.details" class="mb-2">
            <i class="mr-2" [class]="detail.icon"></i>
            {{ detail.description }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Modal UPGRADE-->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content p-0 ">

      <div class="modal-header border-bottom-0 px-4">
        <h2 class="text-primary mt-2 mb-0">Book <span class="font-weight-bold">House</span></h2>
        <a class="close" data-dismiss="modal">×</a>
      </div>
      <div class="modal-body form-col col-lg-12 px-4">

        <div class="row">
          <div class="form-col col-lg-7">

            <form>
              <div class="form-group d-none">
                <label class="control-label" for="preferedTime">Prefered Virtual Tour Hours</label>
                <input id="preferedTime" type="time" class="form-control" value="19:30"/>
              </div>

              <div class="form-group">
                <label class="control-label">Payment Method</label>
                <div class="custom-control custom-radio form-check mb-2">
                  <input class="custom-control-input form-check-input" type="radio" name="paymentMethod" id="creditCard"
                         value="card">
                  <label class="custom-control-label form-check-label" for="creditCard">
                    Credit Card <i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i> <i
                    class="fab fa-cc-amex"></i>
                  </label>
                </div>
                <div class="custom-control custom-radio form-check">
                  <input class="custom-control-input form-check-input" type="radio" name="paymentMethod" id="paypal"
                         value="paylap">
                  <label class="custom-control-label form-check-label" for="paypal">
                    Paypal <i class="fab fa-paypal"></i>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="cardNumber">Card Number</label>
                <input id="cardNumber" type="number" class="form-control" placeholder="0000 0000 0000 0000 0000"/>
              </div>

              <div class="form-group form-row">
                <div class="col form-column">
                  <label class="control-label" for="expirationDate">Expiration Date</label>
                  <input id="expirationDate" type="text" class="form-control" placeholder="mm/yy">
                </div>
                <div class="col form-column">
                  <label class="control-label" for="ccv">CCV</label>
                  <input id="ccv" type="text" class="form-control" placeholder="3 Digits">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="cardHolder">Card Holder</label>
                <input id="cardHolder" type="text" class="form-control" placeholder="John Doe">
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">I have read and accept InLife terms.</label>
                </div>
              </div>
            </form>
          </div>

          <div class="col-lg-5">
            <div class="card summary">
              <div class="card-header">
                <h5 class="card-title mb-3">Summary</h5>
                <p>Vestibulum rutrum quam vitrae fringilla tincidunt.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <span>My InLifeAdvisor</span><strong class="float-right">50€</strong>
                </li>
                <li
                  class="total-item list-group-item list-group-item-secondary text-right border-top-0 border-bottom-0">
                  <span class="mr-3">Total </span><strong class="text-primary">50€</strong>
                </li>
              </ul>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label class="control-label" for="promoCode">Promo Code</label>
                    <input id="promoCode" type="text" class="form-control" placeholder="1234566-234">
                  </div>
                </form>
                <div class="media">
                  <i class="sl-icon-info text-primary mr-3 mt-1"></i>
                  <div class="media-body">
                    After checkout you will receive all the details and confirmation of purchase in the email specified
                    - <strong>john.doe@email.com</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex flex-row justify-content-between border-top">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
